<div class="messagebox">
	<p> <%=h comment.body %> </p>
	<div class="thin_line"> </div>
	<p> <strong> Posted by: </strong> <%=h comment.name %> </p>
	<div class="thin_line"> </div>
	<p> <strong> At: </strong> <%=h comment.created_at %> </p>
</div>